/* Basic Reset */
/* VARIABLES */

:root {
  /* Color values */
  --color-light: rgb(232, 232, 232);
  --color-medium: rgb(108, 108, 72);
  --color-dark: rgb(5, 5, 10);
  --color-text: rgba(0, 0, 0, 1);
  --color-text-link: rgb(200, 220, 255);
  --color-text-link-hover: rgba(0, 0, 255, 0.4);
  --color-background: white;
  /* Font values */
  --font-family: serif;
  --font-size: 24px;
  /* Margin value */
  --margin: 1rem;
}


* {
  box-sizing: border-box;
}
html, body {
  height: 100vh;
}
html,
body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  background-color: var(--color-light);

}

h1, h2, h3 {
  text-wrap: balance;
}

h1{
  margin-left: 4%;
  margin-right: 4%;
}

p {
  text-wrap: pretty;
}

 /* scrollbar styling */
 ::-webkit-scrollbar {
  width: 0.5rem;
 
}
::-webkit-scrollbar-thumb {
  background: rgb(255, 0, 208);
  border-radius: 80px;
}
::-webkit-scrollbar-track {
  opacity: 10%;
 }

/* FONTS */

@font-face {
  font-family: 'Yes';
  src: url('../fonts/tagtts2U.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Century';
  src: url('../fonts/CenturySchL-Roma.otf');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Century';
  src: url('../fonts/CenturySchL-Ital.otf');
  font-weight: normal;
  font-style: italic;
  font-display: block;
}

/*audio*/

audio::-webkit-media-controls-panel {
  background-color: rgb(199, 224, 224);
  outline: 1px black;
}

audio::-webkit-media-controls-play-button {
  background-color: #B1D4E0;
  border-radius: 50%;
}

audio::-webkit-media-controls-play-button:hover {
  background-color: rgba(161, 194, 205, 0.7);
}

/* STYLING CONTENT */

.intro {
  font-size: calc(var(--font-size)*2.5);
  font-weight: bold;
  font-family: 'Century';
  /*text-transform: uppercase;*/
  text-align: center;
  line-height: 1.2;
}

.introstep {
  font-size: calc(var(--font-size)*2.5);
  font-weight: bold;
  font-family: 'Century';
  /*text-transform: uppercase;*/
  text-align: center;
  margin-bottom: 1%;
  line-height: 1.2;
}

.introyes{
  font-size: calc(var(--font-size)*1.4);
  font-weight: bold;
  font-family: 'yes';
  /*text-transform: uppercase;*/
  text-align: center;
  margin-bottom: 5%;
  margin-top: -2%;
}


.font_landing {
  font-size: calc((var(--font-size)*3));
  color: grey;
  text-align: center;

}

.title {

  /*font-family: Georgia, 'Times New Roman', Times, serif;*/
  font-family: yes;
  font-weight: lighter;
  text-align: center;
  font-size: calc(var(--font-size)*2);
  color: rgb(214, 113, 194);
  /* text-shadow: 0.3vw 0 black, 0 2px black, 2px 0 black, 0 2px whitesmoke;*/
  margin-top: calc(50vh - 8rem);
  margin-bottom: 25%;
  padding: auto;
  z-index: -1;
}


#sub {

  font-size: calc(var(--font-size)*1.5);
  margin-bottom: 2%;
}

.subtitle {
  font-size: calc(var(--font-size)*1.2);
  font-family: 'Century';
 
  text-align: left;
  padding: auto;
  margin-top: 6%;
  margin-bottom: 2%;
}


hr {
  opacity: 0;
  margin-left: 5%;
  margin-right: 5%;
}

p {
  margin: 0;
  font-size: var(--font-size);
}

.chapterone {
  font-size: calc(var(--font-size)*1);
  line-height: 1.4;
  margin-top: 3%;
  margin-bottom: 3%;
  
}

.chapterone_halloween {
  font-size: calc(var(--font-size)*0.9);
  line-height: 1.3;
  margin-top: 3%;
  margin-bottom: 3%;
  color:  rgb(255, 255, 255);
  font-family: Century;
  text-align: justify;
  padding-left: 15%;
  padding-right: 15%;
}

.chapterone_cheer {
  font-size: calc(var(--font-size)*1);
  margin-top: 3%;
  margin-bottom: 3%;
  color:  rgb(214, 113, 194);
  font-family: Century;
  text-align: justify;
  padding-left: 15%;
  padding-right: 15%;
}

.chapterone_intro{
  font-size: calc(var(--font-size)*1.2);
  line-height: 1.33;
  margin-top: 3.5%;
  margin-bottom: 3.5%;
  text-align: left;
}

.Stone_italic{
  margin-left: 4%;
  font-style: italic;
  margin-top: 2%;
  margin-bottom: 4%;
}

.italic{
  font-style: italic;
}

.italic_cen{
 font-family: CenturyItalic;
 font-style: italic;
}

.small {
  font-size: calc(var(--font-size)*1);
  margin-top: -1%;
}

.bold{
  font-weight: bold;
}

.caption {
  position: fixed;

  bottom: 0;
  left: 0;
  width: 20%;
  background-color: var(--color-text-link);
  
  color: var(--color-dark);
  text-align: center;
  padding: 1rem;
  opacity: 0;
  pointer-events: none;
  /* Ensure that the caption doesn't interfere with clicks */
  transition: opacity 0.5s ease;
  z-index: 3;

}

.quote {
  text-align: center;
  font-style: italic;
  display: block; 
  width: 70%; 
  margin: 0 auto;
  font-family: 'century';
  font-size: calc(var(--font-size)*1.4);
  margin-top: 6%;
  margin-bottom: 4%;
}

#caption {

  margin-top: -1.5%;
  margin-bottom: 6%;
  font-size: calc(var(--font-size) / 1.5);
  margin-left: 13%;
  margin-right: 13%;
  text-align: center;
}

.figurelink {
  cursor: pointer;
  white-space: nowrap;
  font-size: 60%;
  vertical-align: text-top;
  box-shadow: var(--color-text-link) 0px 0px 0px 15px inset;
  color: var(--color-dark);
}

.hovered {
  z-index: 1;
  opacity: 1;
  filter: blur(0);
}

.hovered .caption {
  opacity: 1;
  z-index: 3;

}

.title_cheer {
  font-family: yes;
  font-weight:bold;
  text-align: center;
  font-size: calc(var(--font-size)*2.1);
  color: rgb(214, 113, 194);
  /* text-shadow: 0.3vw 0 black, 0 2px black, 2px 0 black, 0 2px whitesmoke;*/
  margin-top: 2%;
  margin-bottom: 1%;
  padding: auto;
}

.column {
  float: left;
  padding: 5px;
  z-index: 5;
}

.column:first-child{
  width: 37.25%;
}

.column:last-child{
  width: 62.75%;
}

.row{
  position: relative;
  display: table;
  clear: both;
  background-color: rgb(236, 236, 236);
}


/*halloween images*/
.chapter_black {
  position: relative;
  padding-top: 5%;
  padding-bottom: 8%;
  background-color: rgb(154, 87, 56);
  z-index: 4;
  height: fit-content;
  gap: 0px;
}

.row_halloween {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around; /* Add space between sets */
}

.image-caption-set {
  width: 33.33%; /* Adjust width as needed */
  text-align: center; /* Center content within each set */
  padding: 0px;
  box-sizing: border-box;
}

.image_smaller {
  display: block;
  width: 100%; /* Make images fill their container */
  margin-bottom: 10px; /* Add space below images */
}



.image_cheer {

  padding: 1rem;
  display: block;
  margin: 0 auto;
  width: 80%;
  opacity: 1;

  position: relative;

  left: 0;
  right: 0; 
  box-shadow: inset 6px 6px 15px black;
  border-radius: 80px;

}

.image-container {
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(2fr, 1fr); /* Creates 2 equal columns */
  gap: 0px 20px; /* Space between grid items */
  margin: 0;
  width: 100%;
}

.image-item {
  text-align: center; /* Optional: centers the image and caption */
}

.image_visible {
  max-width: 100%; /* Ensures the images are responsive */
  height: auto;
  margin-inline: auto;
  display: block;
  object-fit: contain;
}

.image_smaller {

  display: block;
  margin: 0 auto;
  width: 60%;
  opacity: 1;

  position: relative;

  left: 0;
  right: 0;
  z-index: 1;
  border: 1rem;
  border-color: rgb(0, 0, 0);
}


 /*DIVA GALLERY*/
.gallery-container {
  position: relative;
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  overflow: visible;
  z-index: 4;
  background-color: rgb(239, 239, 239);
}

.slider {
  position: relative;
  width: 100%;
  height: 100%; /* Adjust height as needed */
}

.slide {
  display: none;
  width: 100%;
  height: 100%;
}

a.prev, a.next {
  position: absolute;
  top: 50%;
  color: white;
  font-size: 24px;
  padding: 16px;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  cursor: pointer;
  user-select: none;
}

a.prev {
  left: 0;
  transform: translateY(-50%);
}

a.next {
  right: 0;
  transform: translateY(-50%);
}

a:hover {
  background-color: rgba(0, 0, 0, 0.8);
}




/*CHEER GALLERY*/

.slider_wrapper_cheer{
  position: relative;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;

  padding: 1rem;

  box-shadow: inset 6px 6px 15px black;
  border-radius: 80px;
}

.slider_cheer {
  display: flex;
  /*gap: 1rem;*/


  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  overflow-x: auto;

  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;

  margin: 0 auto;
  border-radius: 67px;
  /* overflow-y: visible; */
}
.slider_cheer::-webkit-scrollbar {
  display: none;
}
.slider_cheer figure {
  position: relative;
  margin: 0;

  flex: 1 0 100%;
  scroll-snap-align: start;
}
.slider_cheer figure figcaption {
  position: absolute;
  bottom: 0; left: 5; /*calc(100% + 1rem); */
  text-align: center;
  width: 100%;
  color: white;
}

.slider_cheer img{
  width: 100%;
  height: 100%;
  /* border-radius: 80px;*/
  /* scroll-snap-align: start; */
}

.slider_cheer_nav {
  display: flex;
  column-gap: 1rem;
  position: absolute;
  bottom: 1.25rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.caption_cheer {
  font-family: 'Courier New', Courier, monospace;
  margin-top: 1%;
  margin-bottom: 3%;
  font-size: calc(var(--font-size)/1.2);
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
  color: rgb(255, 255, 255);
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
}



#caption_opening {

  margin-top: 1%;
  margin-bottom: 0;
  font-size: calc(var(--font-size)/1.7);
  color: inherit;
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

#caption_opening_white{
  color: white;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: -0.05%;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-size: calc(var(--font-size)/1.7);
}

/* DIVS */

.top{
  height: 8vh;
  width: 100%;
}

.box {

  display: block;
  margin-top: 0px;

}

.landing_page {
  position: sticky;
  z-index: -1;
  height: 30vh;
  width: 100%;
  top: 0;
  margin: 0 auto;
  padding-right: 2%;
  padding-left: 2%;
  /* Center the content horizontally */
  background-color: var(--color-light);
  padding: 18%;
  padding-top: 1%;
  text-align: center;
  height: 100%;
}


/*.opening {
  position: sticky;
  height: 100vh;
  /* Set the height to 100vh */
  /*width: 100%;
  top: 0;
  margin: 0 auto;
  background-color: var(--color-dark);

  justify-content: center;
  /* Center the columns horizontally */
  /*align-items: stretch;
  /* Stretch the columns vertically */
  /*padding: 18%;
  padding-top: 6%;
  z-index: 2;
  text-align: justify;
}*/


.chapter {
  position: relative;
  padding-top: 5%;
  padding-bottom: 5%;
  height: 100%;
  height: auto;
  width: 100%;
  margin: 0 auto;
  /* Center the content horizontally */
  text-align: justify;
  /* Center the text inside */
  z-index: 3;
  padding-right: 21%;
  padding-left: 21%;
  background-color: rgb(239, 239, 239);
}

.chapter_louise {
  position: relative;
  padding-top: 5%;
  padding-bottom: 2%;
  height: 100%;
  height: auto;
  width: 100%;
  margin: 0 auto;
  /* Center the content horizontally */
  text-align: justify;
  /* Center the text inside */
  z-index: 3;
  padding-right: 21%;
  padding-left: 21%;
  background-color: rgb(239, 239, 239);
}

.chapter_diva {
  position: relative;
  padding-top: 5%;
  padding-bottom: 5%;
  height: 100%;
  height: auto;
  width: 100%;
  margin: 0 auto;
  /* Center the content horizontally */
  text-align: justify;
  /* Center the text inside */
  z-index: 3;
  padding-right: 21%;
  padding-left: 21%;
  background-color: rgb(239, 239, 239);
}

.chapter_history{
  position: relative;
  padding-top: 5%;
  padding-bottom: 5%;
  height: 100%;
  height: auto;
  width: 100%;
  margin: 0 auto;
  /* Center the content horizontally */
  text-align: justify;
  /* Center the text inside */
  z-index: 3;
  padding-right: 21%;
  padding-left: 21%;
  background-color: rgb(236, 236, 236);
  /*background-color: rgb(206, 217, 226); */
}

.sticky{
  position: sticky;
  top: 0;
  height: 100vh;
  width: 100%;
}

.chapter.sticky-item {
  position: sticky;
  padding-top: 2%;
  top: 0;
  height:100vh;
}

.introduction{
  position: sticky;
  background-color: rgb(225, 225, 225);
  z-index: 4;
  height: 100vh;
  height: auto;
  text-align: justify;

  padding-top: 3%;
  padding-bottom: 6%;
  padding-left: 18%;
  padding-right: 18%;
}

.cheer {
  position: sticky;
  padding-bottom: 5%;
  padding-top: 4%;
  background-color: rgb(199, 224, 224);
  z-index: 5;
}


#chaptertwo {
  padding-left: 26%;
  padding-right: 26%;
}

#chaptertwo_paragraph {

  text-indent: 4rem;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.7rem;
  font-size: calc(var(--font-size)*0.85);
}

#chaptertwo_paragraph_first {

  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.7rem;
  font-size: calc(var(--font-size)*0.85);
}


#chaptertwo_opening {
  padding-left: 18%;
  padding-right: 18%;
  padding-top: 3%;

}


#caption_opening_black {

  margin-top: 1%;
  margin-bottom: 3%;
  font-size: calc(var(--font-size)/1.2);
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
  color: var(--color-dark);
}

.footnotes {
  /* bottom: 0; 
  width: 98%;
  height: auto;
  left: 15%;
  right:15%;
  margin: var(--margin); */

  position: fixed;
  inset: auto 0 0;
  padding-inline: 3vw;

  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  word-wrap: break-word;

  /* box-shadow: 0 0 5px 10px white; */
  background-color: rgb(248, 248, 248);
  box-shadow: 0 0 5px 10px rgb(248, 248, 248);

  pointer-events: none;
  z-index: 4;
}

.footnote{
  padding: 1%;
  padding-left: 30%;
  padding-right: 30%;

}

.footnotes p {
  max-height: 0;
  transition: max-height .15s ease-in-out;
  overflow: hidden;
  padding-left: 8%;
  padding-right: 8%;
}

.footnotes p.visible {
  max-height: 8rem;
  padding-block: 1rem;
}
.footnotes p.visible:has(+ p.visible) {
  padding-bottom: 1rem;
}
.footnotes p.visible + p.visible {
  padding-top: 0;
}



#bibliography {

  background-color: var(--color-light);
  padding-left: 15%;
  padding-right: 15%;
}


#title_bibliography {

  font-size: calc(var(--font-size)*1.5);
  color: var(--color-dark);
  margin-bottom: 5%;
  margin-top: 0;
}

#bibliography_paragraph {

  text-indent: -2rem;
  margin-left: 2rem;
  text-align: left;
  font-size: calc(var(--font-size)*0.9);

}


  
.reference {
  margin-left: .5rem;
  translate: 0 -.25rem;
  font-size: .75em;
  font-style: normal;

  display: inline-block;
  background-color: rgb(178, 211, 233);
  color: rgb(83, 83, 83);
}

.reference:hover{
  background-color: var(--color-accent);
  cursor: text; 
}

.animation-container-one {
  position: relative;
  width: 100vw;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: visible;
  z-index: 4;
  background-image: linear-gradient(yellowgreen, rgb(236, 236, 236));
}

.animation-container-two {
  position: relative;
  width: 100vw;
  height: 35vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: visible;
  z-index: 4;
  background-image: linear-gradient(rgb(154, 87, 56), rgb(239, 239, 239));
}

.animation-container-three {
  position: relative;
  width: 100vw;
  height: 35vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: visible;
  z-index: 4;
  background-image: linear-gradient(rgb(225, 48, 92), rgb(239, 239, 239));
}

.animation-container {
  position: relative;
  width: 100vw;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: visible;
  z-index: 4;
  background-image: linear-gradient(rgb(255, 77, 196), rgb(239, 239, 239));
}

.animated-item {
  width: 40vh; 
  height: 40vh;
  background-image: url('../images/slippers.jpg');
  background-size: cover;
  position: absolute;
  left: -45vh; 
  top: 0vh;
  animation: moveAcross 8s ease-in-out infinite, 
             rotate 10s linear infinite;
}

.animated-item-meme {
  width: 40vh; 
  height: 40vh;
  background-image: url('../images/meme.jpg');
  background-size: cover;
  position: absolute;
  left: -45vh;  
  top: 0vh;
  bottom: 0vh;
  animation: moveAcrossmeme 8s ease-in-out infinite, rotate 10s linear infinite;
}

@keyframes moveAcross {
  0% {
    /* transform: translateX(-150vw) rotate(0deg); */
    transform: translateX(0vw) rotate(0deg);
  }
  100% {
    /* transform: translateX(150vw) rotate(500deg);  */
    transform: translateX(calc(100vw + 55vh)) rotate(500deg); 
  }
}

@keyframes moveAcrossmeme{
  0% {
    transform: translateX(-2vw) rotate(500deg);
  }
  100% {
    transform: translateX(130vw) rotate(0deg); 
  }
}


/* WEBSITE MEDIA QUERIES */

/* styles for 'mobile', screen sizes up to 779px, should covers 'mobile' and 'tablet' */
/* style this one first and then use the subsequent ones in a cascading way (from general to specific) */

@media (max-width: 779px) {

  /* your 'mobile' overriding css properties here */

  :root {

    --font-size: 16px;
    /* Margin value */

  }

  .title{
    font-family: 'yes';
    font-weight: bold;
    text-align: center;
    font-size: calc(var(--font-size)*1.45);
    line-height: 1.6;
    color: rgb(214, 113, 194);
    margin-top: 35%;
    margin-top: calc(50vh - 9rem);
    padding-top: .005em;
  }

  .sticky{
    top: 2;
  }

  .mobile-break {
    display: block; /* Forces "a" to be on a new line on small screens */
  }

  .subtitle {
    font-size: calc(var(--font-size)*1.2);
    font-family: 'Century';
    line-height: 1.3;
   
    text-align: left;
    padding: auto;
    margin-top: 8%;
    margin-bottom: 4%;
  }

  .title_cheer {
    font-weight: bold;
    font-size: calc(var(--font-size)*2);
    color: rgb(214, 113, 194);
    padding: auto;
  }

  .chapterone {
    font-size: calc(var(--font-size)*1.2);
    line-height: 1.4;
    text-align: left;
    margin-top: 3%;
    margin-bottom: 3%;
    
  }

  .chapter {
    padding-top: 5%;
    padding-bottom: 5%;

    /* Center the text inside */

    padding-right: 5%;
    padding-left: 5%;

  }

  .chapter_history {
    padding-top: 5%;
    padding-bottom: 5%;

    /* Center the text inside */

    padding-right: 5%;
    padding-left: 5%;
  }

  .chapter_diva {
    padding-top: 5%;
    padding-bottom: 5%;

    /* Center the text inside */

    padding-right: 5%;
    padding-left: 5%;
  }

  .chapter_black{
    position: relative;
    padding-top: 5%;
    padding-bottom: 8%;
    background-color:rgb(154, 87, 56);
    z-index: +1;
    height: fit-content;
  }

  .chapterone_halloween {
    font-size: calc(var(--font-size)*1);
    text-align: left;
    margin-top: 3%;
    margin-bottom: 3%;
    padding-left: 5%;
    padding-right: 5%;
  }

  .chapter_louise{
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 5%;
  }

  .chapter.sticky-item {
    position: sticky;
    padding-top: 2.5%;
    top: 0;
    height: 60vh;
  }

  .column_halloween {
    flex: 1 1 100%; /* Make the columns full width on small screens */
  }

  .row_halloween {
    flex-direction: column; /* Stack rows vertically on small screens */
  }

  .image-caption-set{
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
  }

  .introduction{
    padding-top: 5%;
    padding-bottom: 5%;

    /* Center the text inside */

    padding-right: 5%;
    padding-left: 5%;
  }

  .chapterone_cheer{
    font-size: calc(var(--font-size)*1.1);
    text-align: left;
    padding-right: 5%;
    padding-left: 5%;
  }

  .chapterone_intro{
    text-align: left;
  }

  .quote {
    margin-top: 5%;
    width: 75%;
    text-align: center;
    font-family: 'century';
    font-size: calc(var(--font-size)* 1.2);
  }

  .image_visible {

    width: 100%;

  }

  .column:first-child{
    width: 100%;
    padding-top: 0%;
    padding-bottom: 3%;
  }
  
  .column:last-child{
    width: 100%;
    padding-top: 4%;
    padding-bottom: 0%;
  }

  .column {
    width: 100%; /* Make each column full width */
    float: none; /* Remove float */
    text-align: center;
    display: flex; /*Use flexbox*/
    flex-direction: column; /*stack flexbox items*/
    align-items: center;
  }

  .row {
    text-align: center;
    margin: 0 auto;
    position: relative;
    padding-right: 5%;
    padding-left: 5%;
    width: 100%;
  }


  .animated-item {
    width: 30vh; 
    height: 30vh;
    background-image: url('../images/slippers.jpg');
    background-size: cover;
    position: absolute;
    left: -30vh; 
    top:3vh;
    animation: moveAcross 7s ease-in-out infinite, 
               rotate 4s ease-in-out infinite;
  }

  .animated-item-meme {
    width: 30vh; 
    height: 30vh;
    background-image: url('../images/meme.jpg');
    background-size: cover;
    position: absolute;
    left: -30px; 
    top: 3vh;
    animation: moveAcrossmeme 7s ease-in-out infinite, rotate 4s ease-in-out infinite;
  }
  
  @keyframes moveAcross {
    0% {
      transform: translateX(0) rotate(0deg);
    }
    100% {
      transform: translateX(calc(100vw + 30vh)) rotate(360deg); 
    }
  }

  @keyframes moveAcrossmeme{
    0% {
      transform: translateX(-30vh) rotate(360deg);
    }
    100% {
      transform: translateX(calc(100vw + 5vh)) rotate(0deg); 
    }
  }

  .font_landing {
    font-size: calc((var(--font-size)* 4));
    color: var(--color-dark);
    text-align: right;
    line-height: 3.5rem;
  }


  #caption {
    font-size: calc(var(--font-size)*0.8);
    margin-left: 10%;
    margin-right: 10%;
    margin-top: -1.5%;
    margin-bottom: 5%;
  }

  #caption_opening {

    margin-top: 1%;
    margin-bottom: 0;
    font-size: calc(var(--font-size)/1.6);
    line-height: 1.4;
    color: black;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
  }

  #chaptertwo {
    padding-left: 5%;
    padding-right: 5%;
  }

  #chaptertwo_paragraph {

    line-height: 1.3rem;
    text-indent: 1.5rem;
    font-size: calc(var(--font-size)* 1);
  }


  .image_cheer {

    padding: 1rem;
    display: block;
    margin: 0 auto;
    width: 95%;
    opacity: 1;
  
    position: relative;
  
    left: 0;
    right: 0; 
  
  }

  .slider_wrapper_cheer{
    position: relative;
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
  
    padding: 1rem;
  
    box-shadow: inset 6px 6px 15px black;
    border-radius: 80px;
  }

  .slider_cheer_img{
    border-radius: 67px;
  }}

  .caption {
    position: fixed;


    width: 100%;
    background-color: var(--color-text-link);
    color: var(--color-dark);
    text-align: center;
    padding: 1rem;
    opacity: 0;
    pointer-events: none;
    /* Ensure that the caption doesn't interfere with clicks */
    transition: opacity 0.5s ease;
    z-index: 3;


  }


  #bibliography {

    position: relative;
    height: auto;
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 5%;
    padding-right: 5%;
  }

  
 
  #title_bibliography {

  font-size: calc(var(--font-size)*1.5);
  color: var(--color-dark);
  margin-bottom: 7%;
  margin-top: 0;
  }



  .sources {
    margin-top: 0.02vw;
    margin-bottom: 0.02vw;
    text-indent: -1rem;
    padding-left: 1rem;
    font-size: calc(var(--font-size)*0.85);
  }
  


  .footnotes {
   
    position: fixed;
    inset: auto 0 0;
    padding-inline: 0vw;
    padding-bottom: 0%;
  
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    word-wrap: break-word;
  
    /* box-shadow: 0 0 5px 10px white; */
    background-color: rgb(248, 248, 248);
    box-shadow: 0 0 5px 10px rgb(248, 248, 248);
  
    pointer-events: none;
    z-index: 4;
  }
  
 
  .opening {
    padding: 5%;
    padding-top: 30%;
    text-align: justify;
  }

  .manual_intro_paragraph {
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 2%;
    text-align: justify;
  }

  .animation-container-one {
    height: 40vh;
  }

  .animation-container-two {
    height: 40vh;
  }


  .animation-container {
    position: relative;
    width: 100vw;
    height: 40vh;
  }




  /* utility classes, mobile */

  .desktop-only {
    display: none;
  }

  .mobile-only {
    display: block;
  }


  
 


  /* use this query to apply style changes to smaller smartphones sizes (like an iPhone 5S or SE 2016), max size of 339px */

  @media (max-width: 339px) {

    /* your overriding css properties here */

  }



  /* use this query to apply style changes for 'mobile' screen sizes that are flipped in 'landscape' mode */

  @media (max-width: 779px) and (orientation: landscape) {

    /* your overriding css properties here */

  }



  /* use this query to apply style for 'small' desktop screens */

  @media (min-width: 780px) and (max-width: 992px) {

    /* your overriding css properties here */

  }
